.idea
bin
dependency-reduced-pom.xml
atarget
*.DS_Store
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.xcuserdatad
*.xcuserstate
*.bak

# resources
test-output

# rebel
rebel.xml

# eclipse
.settings
.project
.classpath
.metadata*
.recommenders*
Servers*

~/
*.log
FFFF/
